 @mixin hover ($bg_color, $text_color){
     &:hover {
         background-color: $bg_color;
         color: $text_color;
         transition: 1s;
     }
    }

// @mixin screen_desktop{
//     @media screen and (min-width: $screen_phone){
//         @content;
//     }
// }