/*colors*/
$primario:#7abe47;
$secundario:#ffc845;
$negro:#000000;
$claro:#ffffff;
$gris:#eeeeee; 
$oscuro:#57a42b;

/*paddings*/
$padding:1rem;
$paddingt:2rem;

/*media queries*/
$screen_phone : 480px;
$screen_tablet : 700px;


/*widths*/
$min_menu_width : 100px;
$max_main_width : 1100px;