@import "_variables.scss";
@import "_mixins.scss";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;

}

.container{
  margin: 0 auto;
  max-width: 1100px;
}

img{
  max-width: 100%;
}

body{
  background-color: $gris;
}

header{
  background-color: $oscuro;
  nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($min_menu_width, 1fr)); 
    #logo{
      grid-column: span 2;
      min-width: min-content;
    }
    ul {
      grid-column: 1 / 2;
      list-style-type: none;
      color: $claro;

      li{
        padding: 1%;
      }
    }
  }


 
}

#hero{
  display: grid;
  justify-items: center;
  h1{
    padding: $padding;
  }
}

main{
  display: grid;
  grid-template-columns: minmax(100px, max-content) minmax(100px, max-content);
  gap: $padding;
  justify-items: center;

  h2{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: $padding;

  }

  >div{
    background-color: $claro;
    border: 1px solid $negro;
    display: grid;
    padding: $padding;
    gap: $padding;

    button{
      background-color: $primario;
      color: $claro;
      padding: $padding;
      border: none;
      justify-self: stretch;
      @include hover($claro, $primario);
    }
  }

  //imagen max width 100%

  .casa1{
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    img {
      grid-column: 1 / 2;
      grid-row: 2 / 4;
    }

    p{
      grid-column: 1 / 2;
      grid-row: span 1;
    }

    button{
      grid-column: 1 / 2;
      grid-row: span 1;
    }

  }

  .casa{
    display: grid;
    grid-template-columns: 1fr;

    img{
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    h2{
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }

}

footer{
  background-color: $primario;
  color: $claro;

  >div {
    
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    .navegacionFooter{
      ul {
        li{
          list-style-type: none;
        }
      }
    }
  
    .casasVentaFooter{
      
      .casaFooter{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
        
        justify-items: center;
        align-items: center;
        img {
          //grid-column: span 1;
          padding-bottom: $padding;

         
        }
  
        p{
          grid-column: 2 / 3;
          grid-row: span 1;
        }
  
  
      }
    }
  
    >p{
      background-color: $oscuro;
      text-align: center;
    }
  }
  
}